<ion-view title="Home" hide-back-button="true">
    <ion-content>
        <div class="list">

            <a class="item item-thumbnail-left" href="#/tab/camera">
                <img src="img/camera.svg">
                <h2>Camera</h2>
                <p>Capture and new image</p>
            </a>
            <a class="item item-thumbnail-left" href="#/tab/analysis">
                <img src="img/analysis.svg">
                <h2>Risk Assessment</h2>
                <p>View the Risk Assessment of a captured image</p>
            </a>
            <a class="item item-thumbnail-left" href="#/tab/archive">
                <img src="img/archive.svg">
                <h2>Archive</h2>
                <p>View previously saved images and results</p>
            </a>

        </div>
    </ion-content>
</ion-view>