/* Empty. Add your own CSS if you like */

.camera-view {
    width: 100%;
    background-image: url('../img/target.png');
    background-position: center center;
    background-size: cover;
    position: absolute;
    bottom: 0;
    top: 0;
}

.capturedImage {
    width: 100%;
    padding: 30px;
}

results {
    display: block;
}

results > label {
    font-weight: bold;
    padding-right: 10px;
}

textarea {
    border: 1px solid rgba(128, 128, 128, 0.45);
    border-radius: 5px;
}

.camera-spinner {
    position: absolute;
    left: calc(50% - 25px);
    top: calc(50% - 25px);
    z-index: 500;
    height: 50px;
    width: 50px;
}